<a href="https://colab.research.google.com/github/Suchada2000/python_dataviz2023/blob/main/Pandas101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd

## Meta data = Data that describtion data

ใช้อธิบายช้อมูล

## CSV = Comma Separated Values
ในการจะใส่ค่าแต่ละค่า จะใช้  comma ในการแย่ง

.csv = Comma Separated Values

data.go.th

# นำ Data เข้า
- upload to colab  # กรณีใช้เเค่ครั้งเดียว
- link with google drive

## upload to colab

In [9]:
data0 = pd.read_csv('/content/csv.csv')

In [ ]:
data0

,Budget_resource,Issue_No,Fiscal_year,Department_code,Department,Core_budget_code,Expenditure_category,Item_name,Approved_buget
0,งบประจำปี,0,62,11000000,สำนักการระบายน้ำ,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกคลองบางกะปิจากคลองสามเสนถึงคลองแสนแสบ,1193000
1,งบประจำปี,0,62,11000000,สำนักการระบายน้ำ,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกคลองทรงกระเทียมจากคลองลาดพร้าวถึงถนนโชคช...,1100000
2,งบประจำปี,0,62,11000000,สำนักการระบายน้ำ,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกคลองเป้งจากคลองแสนแสบถึงซอยเจริญสุข,3075000
3,งบประจำปี,0,62,11000000,สำนักการระบายน้ำ,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกคลองลำพังพวยจากถนนศรีบูรพาถึงสถานีสูบน้ำ...,6240000
4,งบประจำปี,0,62,11000000,สำนักการระบายน้ำ,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกบึงรางเข้จากคลองพระยาราชมนตรีถึงถนนบางขุ...,2685000
...,...,...,...,...,...,...,...,...,...
687,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,NaN,งบลงทุน,ขุดลอกคลองผักกะเฉด,3686000
688,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,NaN,งบลงทุน,ขุดลอกคลองบึงทรายกองดิน,2575000
689,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,NaN,งบลงทุน,ขุดลอกลำรางซาฟารี,689000
690,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,NaN,งบลงทุน,ขุดลอกลำรางตาจันทร์,464000
691,งบเพิ่มเติม,1,66,50500000,สำนักงานเขตบางบอน,NaN,งบลงทุน,ขุดลอกคลองบางบอนต่อจากของเดิมถึงคลองนายผล,7578000

In [10]:
data0.tail() #มาจากหาง

,Budget_resource,Issue_No,Fiscal_year,Department_code,Department,Core_budget_code,Expenditure_category,Item_name,Approved_buget
687,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,NaN,งบลงทุน,ขุดลอกคลองผักกะเฉด,3686000
688,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,NaN,งบลงทุน,ขุดลอกคลองบึงทรายกองดิน,2575000
689,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,NaN,งบลงทุน,ขุดลอกลำรางซาฟารี,689000
690,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,NaN,งบลงทุน,ขุดลอกลำรางตาจันทร์,464000
691,งบเพิ่มเติม,1,66,50500000,สำนักงานเขตบางบอน,NaN,งบลงทุน,ขุดลอกคลองบางบอนต่อจากของเดิมถึงคลองนายผล,7578000

## link with google drive

In [11]:
from google.colab import drive
drive.mount('/content/drive')  # mount =  เชื่อมไดร์ฟ

Mounted at /content/drive

In [12]:
data1 = pd.read_csv('/content/csv.csv')
data1.head()

,Budget_resource,Issue_No,Fiscal_year,Department_code,Department,Core_budget_code,Expenditure_category,Item_name,Approved_buget
0,งบประจำปี,0,62,11000000,สำนักการระบายน้ำ,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกคลองบางกะปิจากคลองสามเสนถึงคลองแสนแสบ,1193000
1,งบประจำปี,0,62,11000000,สำนักการระบายน้ำ,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกคลองทรงกระเทียมจากคลองลาดพร้าวถึงถนนโชคช...,1100000
2,งบประจำปี,0,62,11000000,สำนักการระบายน้ำ,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกคลองเป้งจากคลองแสนแสบถึงซอยเจริญสุข,3075000
3,งบประจำปี,0,62,11000000,สำนักการระบายน้ำ,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกคลองลำพังพวยจากถนนศรีบูรพาถึงสถานีสูบน้ำ...,6240000
4,งบประจำปี,0,62,11000000,สำนักการระบายน้ำ,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกบึงรางเข้จากคลองพระยาราชมนตรีถึงถนนบางขุ...,2685000

In [13]:
data1.head(10)  # ดูหัวตาราง จากแถวบน 10 แถวแรก นับจาก 0-9

,Budget_resource,Issue_No,Fiscal_year,Department_code,Department,Core_budget_code,Expenditure_category,Item_name,Approved_buget
0,งบประจำปี,0,62,11000000,สำนักการระบายน้ำ,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกคลองบางกะปิจากคลองสามเสนถึงคลองแสนแสบ,1193000
1,งบประจำปี,0,62,11000000,สำนักการระบายน้ำ,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกคลองทรงกระเทียมจากคลองลาดพร้าวถึงถนนโชคช...,1100000
2,งบประจำปี,0,62,11000000,สำนักการระบายน้ำ,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกคลองเป้งจากคลองแสนแสบถึงซอยเจริญสุข,3075000
3,งบประจำปี,0,62,11000000,สำนักการระบายน้ำ,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกคลองลำพังพวยจากถนนศรีบูรพาถึงสถานีสูบน้ำ...,6240000
4,งบประจำปี,0,62,11000000,สำนักการระบายน้ำ,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกบึงรางเข้จากคลองพระยาราชมนตรีถึงถนนบางขุ...,2685000
5,งบประจำปี,0,62,11000000,สำนักการระบายน้ำ,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกคลองราษฎร์สามัคคีจากคลองทวีวัฒนาถึงคลองม...,1207000
6,งบประจำปี,0,62,50130000,สำนักงานเขตมีนบุรี,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกลำรางโต๊ะรอด ตั้งแต่คลองสองต้นนุ่นถึงระย...,225400
7,งบประจำปี,0,62,50130000,สำนักงานเขตมีนบุรี,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกลำรางเลียบคลองบึงขวาง ตั้งแต่คลองบึงขวาง...,452500
8,งบประจำปี,0,62,50150000,สำนักงานเขตหนองจอก,28-เงินสำรองค่าใช้จ่าย ในการพัฒนาเขต,งบลงทุน,ขุดลอกคลองลำแขก จากคลองลำปลาทิว \nถึงคลองลำตาเ...,447000
9,งบประจำปี,0,62,50150000,สำนักงานเขตหนองจอก,28-เงินสำรองค่าใช้จ่าย ในการพัฒนาเขต,งบลงทุน,ขุดลอกคลองอู่ตะเภา จากคลองลำนกแขวก\nถึงคลองลำม...,497000

In [14]:
data1.shape # ดูขนาด กี่เเถวกี่หลัก

(692, 9)

In [15]:
data1.describe()

         Issue_No  Fiscal_year  Department_code  Approved_buget
count  692.000000   692.000000     6.920000e+02    6.920000e+02
mean     0.333815    64.543353     4.534202e+07    1.482811e+06
std      0.474972     1.476149     1.303279e+07    2.464625e+06
min      0.000000    62.000000     1.100000e+07    0.000000e+00
25%      0.000000    63.000000     5.013000e+07    4.100000e+05
50%      0.000000    65.000000     5.023000e+07    5.980000e+05
75%      1.000000    66.000000     5.036000e+07    1.628250e+06
max      2.000000    66.000000     5.050000e+07    2.850000e+07

NaN = Not a Number
DF คือ DataFrame เป็นชื่อ Data Structure ที่ Pandas ใช้

# ชี้ค่าในตาราง (indexing)
ชี้ค่าติดลบไม่ได้
ได้2แบบ 1.ชื่อคอลัมคือชื่อdata['คอลัมที่เราเลือก']

In [16]:
data1['Budget_resource']

0        งบประจำปี
1        งบประจำปี
2        งบประจำปี
3        งบประจำปี
4        งบประจำปี
          ...
687    งบเพิ่มเติม
688    งบเพิ่มเติม
689    งบเพิ่มเติม
690    งบเพิ่มเติม
691    งบเพิ่มเติม
Name: Budget_resource, Length: 692, dtype: object

In [17]:
data1['Budget_resource'][690]

'งบเพิ่มเติม'

In [18]:
data1['Budget_resource'][-3:-1]

689    งบเพิ่มเติม
690    งบเพิ่มเติม
Name: Budget_resource, dtype: object

In [19]:
data1.columns

Index(['Budget_resource', 'Issue_No', 'Fiscal_year', 'Department_code',
       'Department', 'Core_budget_code', 'Expenditure_category', 'Item_name',
       'Approved_buget'],
      dtype='object')

In [20]:
data1[['Approved_buget','Item_name','Department']][6:11]

,Approved_buget,Item_name,Department
6,225400,ขุดลอกลำรางโต๊ะรอด ตั้งแต่คลองสองต้นนุ่นถึงระย...,สำนักงานเขตมีนบุรี
7,452500,ขุดลอกลำรางเลียบคลองบึงขวาง ตั้งแต่คลองบึงขวาง...,สำนักงานเขตมีนบุรี
8,447000,ขุดลอกคลองลำแขก จากคลองลำปลาทิว \nถึงคลองลำตาเ...,สำนักงานเขตหนองจอก
9,497000,ขุดลอกคลองอู่ตะเภา จากคลองลำนกแขวก\nถึงคลองลำม...,สำนักงานเขตหนองจอก
10,189500,ขุดลอกลำกระโดงตรงข้ามซอยเพชรเกษม 50,สำนักงานเขตภาษีเจริญ

In [21]:
data1[['Approved_buget','Item_name','Department']] #listเรียงลำดับในสวยงา

,Approved_buget,Item_name,Department
0,1193000,ขุดลอกคลองบางกะปิจากคลองสามเสนถึงคลองแสนแสบ,สำนักการระบายน้ำ
1,1100000,ขุดลอกคลองทรงกระเทียมจากคลองลาดพร้าวถึงถนนโชคช...,สำนักการระบายน้ำ
2,3075000,ขุดลอกคลองเป้งจากคลองแสนแสบถึงซอยเจริญสุข,สำนักการระบายน้ำ
3,6240000,ขุดลอกคลองลำพังพวยจากถนนศรีบูรพาถึงสถานีสูบน้ำ...,สำนักการระบายน้ำ
4,2685000,ขุดลอกบึงรางเข้จากคลองพระยาราชมนตรีถึงถนนบางขุ...,สำนักการระบายน้ำ
...,...,...,...
687,3686000,ขุดลอกคลองผักกะเฉด,สำนักงานเขตคลองสามวา
688,2575000,ขุดลอกคลองบึงทรายกองดิน,สำนักงานเขตคลองสามวา
689,689000,ขุดลอกลำรางซาฟารี,สำนักงานเขตคลองสามวา
690,464000,ขุดลอกลำรางตาจันทร์,สำนักงานเขตคลองสามวา
691,7578000,ขุดลอกคลองบางบอนต่อจากของเดิมถึงคลองนายผล,สำนักงานเขตบางบอน

# Table Slicing
ไม่ค่อยมีประสิทธิภาพ
ต้องทราบพิกัด

In [22]:
data1.iloc[-20 :,7:10]

                                             Item_name  Approved_buget
672  ขุดลอกลำกระโดงแยกคลองบางแวก (ตรงข้ามวัดบุณยประ...          472000
673  ขุดลอกลำกระโดงแยกคลองบางขี้แก้ง (หมู่บ้านเอเวอ...          492000
674                         ขุดลอกคลองแยกคลองตาเทียม 1          469000
675  ขุดลอกลำกระโดงระหว่างซอยเพชรเกษม 43 กับ ซอยเพช...          493000
676                          ขุดลอกคลองแยกคลองยายเพิ่ม          481000
677                    ขุดลอกลำกระโดงข้างหมู่บ้านวรนุช          492000
678                                    ขุดลอกคลองตาตี่          483000
679                        ขุดลอกลำกระโดงข้างเดอะมอลล์          462000
680                      ขุดลอกลำกระโดงข้างบ้านบางแค 2          499000
681                                   ขุดลอกลำรางตาเชย         3559000
682                              ขุดลอกลำรางไทยเอราวัณ         3494000
683                             ขุดลอกคลองหนึ่งตะวันตก         4330000
684                               ขุดลอกคลองสองตะวันตก         9832000
685                                   ขุดลอกคลองกีบหมู         2925000
686                                 ขุดลอกคลองลำกะโหลก         3875000
687                                 ขุดลอกคลองผักกะเฉด         3686000
688                            ขุดลอกคลองบึงทรายกองดิน         2575000
689                                  ขุดลอกลำรางซาฟารี          689000
690                                ขุดลอกลำรางตาจันทร์          464000
691          ขุดลอกคลองบางบอนต่อจากของเดิมถึงคลองนายผล         7578000

 ## table Query
 อยากได้รายการที่ใช้งบเกิน 1 ล้านบาท
df[logics] โดยที่logics จะต้องมีสมาชิกเท่ากับจำนวนแถวของ df

In [23]:
small_df = data1.iloc[-5:,:]
small_df

,Budget_resource,Issue_No,Fiscal_year,Department_code,Department,Core_budget_code,Expenditure_category,Item_name,Approved_buget
687,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,NaN,งบลงทุน,ขุดลอกคลองผักกะเฉด,3686000
688,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,NaN,งบลงทุน,ขุดลอกคลองบึงทรายกองดิน,2575000
689,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,NaN,งบลงทุน,ขุดลอกลำรางซาฟารี,689000
690,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,NaN,งบลงทุน,ขุดลอกลำรางตาจันทร์,464000
691,งบเพิ่มเติม,1,66,50500000,สำนักงานเขตบางบอน,NaN,งบลงทุน,ขุดลอกคลองบางบอนต่อจากของเดิมถึงคลองนายผล,7578000

In [24]:
small_df[[False,True,True,False,False]] #ตัวที่เราสนใจ=True ตัวที่เราไม่สนใจ=False]

,Budget_resource,Issue_No,Fiscal_year,Department_code,Department,Core_budget_code,Expenditure_category,Item_name,Approved_buget
688,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,NaN,งบลงทุน,ขุดลอกคลองบึงทรายกองดิน,2575000
689,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,NaN,งบลงทุน,ขุดลอกลำรางซาฟารี,689000

ปั้น list of logics จากตาราง pandas

In [25]:
small_df['Approved_buget']<1000000

687    False
688    False
689     True
690     True
691    False
Name: Approved_buget, dtype: bool

Quiz3 อยากได้รายการที่ได้รับอนุมัติงบมากกว่า 1 ล้านบาท แต่ไม่เกิน 2 ล้านบาท

In [29]:
data1[(data1['Approved_buget']>1000000) & (data1['Approved_buget'] <= 2000000)]

,Budget_resource,Issue_No,Fiscal_year,Department_code,Department,Core_budget_code,Expenditure_category,Item_name,Approved_buget
0,งบประจำปี,0,62,11000000,สำนักการระบายน้ำ,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกคลองบางกะปิจากคลองสามเสนถึงคลองแสนแสบ,1193000
1,งบประจำปี,0,62,11000000,สำนักการระบายน้ำ,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกคลองทรงกระเทียมจากคลองลาดพร้าวถึงถนนโชคช...,1100000
5,งบประจำปี,0,62,11000000,สำนักการระบายน้ำ,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกคลองราษฎร์สามัคคีจากคลองทวีวัฒนาถึงคลองม...,1207000
22,งบประจำปี,0,63,11000000,สำนักการระบายน้ำ,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกคลองนางหงษ์จากคลองแสนแสบถึงถนนบรรทัดทอง,1508000
25,งบประจำปี,0,63,11000000,สำนักการระบายน้ำ,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกคลองราษฎร์บูรณะจากแม่น้ำเจ้าพระยาถึงสวนธ...,1975000
...,...,...,...,...,...,...,...,...,...
660,งบเพิ่มเติม,1,66,50350000,สำนักงานเขตบางพลัด,NaN,งบลงทุน,ขุดลอกคลองสะพานยาว,1756000
662,งบเพิ่มเติม,1,66,50350000,สำนักงานเขตบางพลัด,NaN,งบลงทุน,ขุดลอกคลองบางรักและคูน้ำซอยจรัญสนิทวงศ์ 89,1859000
665,งบเพิ่มเติม,1,66,50350000,สำนักงานเขตบางพลัด,NaN,งบลงทุน,ขุดลอกคลองวัดน้อยนางหงษ์,1187000
666,งบเพิ่มเติม,1,66,50360000,สำนักงานเขตจอมทอง,NaN,งบลงทุน,"ขุดลอกคลองลัดบางสะแก (1),(2) จากคลองบางค้อและค...",1581000
670,งบเพิ่มเติม,1,66,50360000,สำนักงานเขตจอมทอง,NaN,งบลงทุน,"ขุดลอกลำกระโดงสาธารณประโยชน์แยกคลองต้นไทร (3),...",1388000

In [30]:
data1[data1['price_min'] > 10000000]

KeyError: ignored

# Quiz 4
1. ราคาเฉลี่ยของบ้านที่มีราคาระหว่าง 3-5 ร้านบาท
2. พื้นที่ และ จำนวนห้องนอนของบ้านที่แพงที่สุด
3. จำนวนที่จอดรถและห้องน้ำของบ้านที่ถูกที่สุด
4. ชนิดของบ้านที่แพงที่สุด
5. บ้านชนิดไหนมีปริมาณมากที่สุด

#missing values

In [ ]:
data1.isnull()

,Budget_resource,Issue_No,Fiscal_year,Department_code,Department,Core_budget_code,Expenditure_category,Item_name,Approved_buget
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
687,False,False,False,False,False,True,False,False,False
688,False,False,False,False,False,True,False,False,False
689,False,False,False,False,False,True,False,False,False
690,False,False,False,False,False,True,False,False,False
691,False,False,False,False,False,True,False,False,False

In [ ]:
data1.isnull().any() #or

Budget_resource         False
Issue_No                False
Fiscal_year             False
Department_code         False
Department              False
Core_budget_code         True
Expenditure_category    False
Item_name               False
Approved_buget          False
dtype: bool

In [ ]:
data1.isnull().all() #any() เอาค่าความจริงใน column มา AND กัน #ไม่มีtrue8nvw,

Budget_resource         False
Issue_No                False
Fiscal_year             False
Department_code         False
Department              False
Core_budget_code        False
Expenditure_category    False
Item_name               False
Approved_buget          False
dtype: bool

การจัดการ Missing Value

ลบ recond ที่เป็น missing (dropna)
แทนที่ ค่าMissing ด้วยค่าที่เหมาะสม mean, default, category-unknown (fillna)
ใช้ ค่าจาก columns อื่นๆ ช่วยประมาณ ค่าใน column ที่หายไป (regression, deep learning, etc)(fillna)
ค่าว่างใส่modeหรือค่าว่างก็ได้ (Noteไว้เฉยๆ)

#NaN Not a Number

Null Null

Na Not Available/Not Authorised

None

In [ ]:
data1.shape

(692, 9)

In [ ]:
data1.dropna().shape

(266, 9)

In [ ]:
data1.dropna(subset=['Fiscal_year']).shape #ลบdataแบบคนมีความรู้ missimgจะหา

(692, 9)

In [ ]:
data1 = data1.dropna(subset=['Fiscal_year']

SyntaxError: ignored

In [ ]:
data1.isnull().any()

Budget_resource         False
Issue_No                False
Fiscal_year             False
Department_code         False
Department              False
Core_budget_code         True
Expenditure_category    False
Item_name               False
Approved_buget          False
dtype: bool

#FILLNA

In [ ]:
set(data1['Core_budget_code'])

{'-',
 '12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี่ยวกับน้ำท่วม',
 '17-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายเพื่อการพัฒนากรุงเทพมหานคร',
 '28-เงินสำรองค่าใช้จ่าย ในการพัฒนาเขต',
 nan}

In [ ]:
data1.fillna('-')

,Budget_resource,Issue_No,Fiscal_year,Department_code,Department,Core_budget_code,Expenditure_category,Item_name,Approved_buget
0,งบประจำปี,0,62,11000000,สำนักการระบายน้ำ,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกคลองบางกะปิจากคลองสามเสนถึงคลองแสนแสบ,1193000
1,งบประจำปี,0,62,11000000,สำนักการระบายน้ำ,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกคลองทรงกระเทียมจากคลองลาดพร้าวถึงถนนโชคช...,1100000
2,งบประจำปี,0,62,11000000,สำนักการระบายน้ำ,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกคลองเป้งจากคลองแสนแสบถึงซอยเจริญสุข,3075000
3,งบประจำปี,0,62,11000000,สำนักการระบายน้ำ,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกคลองลำพังพวยจากถนนศรีบูรพาถึงสถานีสูบน้ำ...,6240000
4,งบประจำปี,0,62,11000000,สำนักการระบายน้ำ,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกบึงรางเข้จากคลองพระยาราชมนตรีถึงถนนบางขุ...,2685000
...,...,...,...,...,...,...,...,...,...
687,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,-,งบลงทุน,ขุดลอกคลองผักกะเฉด,3686000
688,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,-,งบลงทุน,ขุดลอกคลองบึงทรายกองดิน,2575000
689,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,-,งบลงทุน,ขุดลอกลำรางซาฟารี,689000
690,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,-,งบลงทุน,ขุดลอกลำรางตาจันทร์,464000
691,งบเพิ่มเติม,1,66,50500000,สำนักงานเขตบางบอน,-,งบลงทุน,ขุดลอกคลองบางบอนต่อจากของเดิมถึงคลองนายผล,7578000

In [ ]:
data1.fillna('-',inplace=True)

In [ ]:
set(data1['Core_budget_code'])

{'-',
 '12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี่ยวกับน้ำท่วม',
 '17-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายเพื่อการพัฒนากรุงเทพมหานคร',
 '28-เงินสำรองค่าใช้จ่าย ในการพัฒนาเขต'}

In [ ]:
data1.isnull().any()

Budget_resource         False
Issue_No                False
Fiscal_year             False
Department_code         False
Department              False
Core_budget_code        False
Expenditure_category    False
Item_name               False
Approved_buget          False
dtype: bool

In [ ]:
data1

,Budget_resource,Issue_No,Fiscal_year,Department_code,Department,Core_budget_code,Expenditure_category,Item_name,Approved_buget
0,งบประจำปี,0,62,11000000,สำนักการระบายน้ำ,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกคลองบางกะปิจากคลองสามเสนถึงคลองแสนแสบ,1193000
1,งบประจำปี,0,62,11000000,สำนักการระบายน้ำ,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกคลองทรงกระเทียมจากคลองลาดพร้าวถึงถนนโชคช...,1100000
2,งบประจำปี,0,62,11000000,สำนักการระบายน้ำ,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกคลองเป้งจากคลองแสนแสบถึงซอยเจริญสุข,3075000
3,งบประจำปี,0,62,11000000,สำนักการระบายน้ำ,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกคลองลำพังพวยจากถนนศรีบูรพาถึงสถานีสูบน้ำ...,6240000
4,งบประจำปี,0,62,11000000,สำนักการระบายน้ำ,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกบึงรางเข้จากคลองพระยาราชมนตรีถึงถนนบางขุ...,2685000
...,...,...,...,...,...,...,...,...,...
687,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,-,งบลงทุน,ขุดลอกคลองผักกะเฉด,3686000
688,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,-,งบลงทุน,ขุดลอกคลองบึงทรายกองดิน,2575000
689,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,-,งบลงทุน,ขุดลอกลำรางซาฟารี,689000
690,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,-,งบลงทุน,ขุดลอกลำรางตาจันทร์,464000
691,งบเพิ่มเติม,1,66,50500000,สำนักงานเขตบางบอน,-,งบลงทุน,ขุดลอกคลองบางบอนต่อจากของเดิมถึงคลองนายผล,7578000

#HW3
จากdata1 อยากรู้ว่า

1รายการที่แพงและถูกที่สุดคือรายการไหน
2รายการขุดลอกคูคลองของ 'สำนักงานเขตคลองสาน' และ 'สำนักงานเขตคลองสามวา'
3จากข้อ 2 เขตไหนใช้งบประมาณ เยอะกว่ากัน
4 Core Budget ไหน ("12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี่ยวกับน้ำท่วม','17-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายเพื่อการพัฒนากรุงเทพมหานคร','28-เงินสำรองค่าใช้จ่าย ในการพัฒนาเขต') มีค่าเฉลี่ยงบประมาณที่ถูกอนุมัติสูงที่สุด

ข้อที่ 1 รายการที่แพงและถูกที่สุดคือรายการไหน

In [31]:
data1_max = data1['Approved_buget'].max()

In [32]:
data1_min = data1['Approved_buget'].min()

In [33]:
data1[(data1['Approved_buget'] == data1_max) | (data1['Approved_buget'] == data1_min)]

,Budget_resource,Issue_No,Fiscal_year,Department_code,Department,Core_budget_code,Expenditure_category,Item_name,Approved_buget
576,งบเพิ่มเติม,1,66,11000000,สำนักการระบายน้ำ,NaN,งบลงทุน,ขุดลอกคลองพระยาสุเรนทร์ จากคลองหกวาถึงคลองบางช...,28500000
612,งบเพิ่มเติม,1,66,50180000,สำนักงานเขตธนบุรี,NaN,งบลงทุน,ขุดลอกลำกระโดงอำนวยสุข จากคลองบางกอกใหญ่ถึงสุด...,0
613,งบเพิ่มเติม,1,66,50180000,สำนักงานเขตธนบุรี,NaN,งบลงทุน,ขุดลอกคลองแยกวัดประดู่ จากคลองบางกอกใหญ่ถึงคลอ...,0
631,งบเพิ่มเติม,1,66,50240000,สำนักงานเขตราษฎร์บูรณะ,NaN,งบลงทุน,ขุดลอกคลองต้นโศกจากคลองราษฎร์บูรณะถึงคลองแจงร้อน,0

ข้อที่ 2 รายการขุดลอกคูคลองของ 'สำนักงานเขตคลองสาน' และ 'สำนักงานเขตคลองสามวา'

In [ ]:
df = pd.DataFrame(data1,columns=['Department','Item_name'])

In [ ]:
df.set_index('Department', inplace=True)

In [ ]:
result = df.loc[["สำนักงานเขตคลองสามวา","สำนักงานเขตคลองสาน"],['Item_name']]
result

                                                              Item_name
Department
สำนักงานเขตคลองสามวา  ขุดลอกคลองสามตะวันตก จากคลองสามวา ถึงคลองพระยา...
สำนักงานเขตคลองสามวา  ขุดลอกคลองสี่ตะวันตก จากคลองสามวา ถึงคลองพระยา...
สำนักงานเขตคลองสามวา  ขุดลอกลำรางวัดแป้นทอง จากคลองสี่ตะวันตก ถึงคลอ...
สำนักงานเขตคลองสามวา  ขุดลอกลำรางครูพัว จากคลองสองตะวันตก ถึงคลองหนึ...
สำนักงานเขตคลองสามวา     ขุดลอกลำรางตาชม จากคลองลำควายตาย ถึงคลองบางชัน
สำนักงานเขตคลองสามวา  ขุดลอกคลองเจ๊ก จากคลองหนึ่งตะวันตก ถึงสุดเขตคล...
สำนักงานเขตคลองสามวา  ขุดลอกคลองซอยเชื่อมคลองลำแบนกับคลองหนองระแหง จ...
สำนักงานเขตคลองสามวา                                   ขุดลอกลำรางตาเชย
สำนักงานเขตคลองสามวา                              ขุดลอกลำรางไทยเอราวัณ
สำนักงานเขตคลองสามวา                             ขุดลอกคลองหนึ่งตะวันตก
สำนักงานเขตคลองสามวา                               ขุดลอกคลองสองตะวันตก
สำนักงานเขตคลองสามวา                                   ขุดลอกคลองกีบหมู
สำนักงานเขตคลองสามวา                                 ขุดลอกคลองลำกะโหลก
สำนักงานเขตคลองสามวา                                 ขุดลอกคลองผักกะเฉด
สำนักงานเขตคลองสามวา                            ขุดลอกคลองบึงทรายกองดิน
สำนักงานเขตคลองสามวา                                  ขุดลอกลำรางซาฟารี
สำนักงานเขตคลองสามวา                                ขุดลอกลำรางตาจันทร์
สำนักงานเขตคลองสาน                                   ขุดลอกคูน้ำสารภี 1
สำนักงานเขตคลองสาน                              ขุดลอกคลองวัดทองเพลง\n
สำนักงานเขตคลองสาน    ขุดลอกลำกระโดงชุมชนสองร้อยห้อง\nจากบริเวณบ้านเ...
สำนักงานเขตคลองสาน    ขุดลอกคลองวัดทองธรรมชาติและคลองแยกคลองวัดทองธร...
สำนักงานเขตคลองสาน                                     ขุดลอกคลองโรงปลา
สำนักงานเขตคลองสาน                           ขุดลอกลำกระโดงซอยอิสรภาพ 3
สำนักงานเขตคลองสาน         ขุดลอกคลองหลังวัดพิชัยญาติและคลองวัดน้อยเก่า
สำนักงานเขตคลองสาน                                  ขุดลอกคลองพระยาเกษม
สำนักงานเขตคลองสาน                      ขุดลอกคลองข้างโรงเรียนปทุมวิทยา
สำนักงานเขตคลองสาน    ขุดลอกคลองวัดน้อยใหม่จากแยกบ้านแขกถึงคลองสมเด็...
สำนักงานเขตคลองสาน    ขุดลอกคลองโรงหนัง จากคลองบางไส้ไก่ถึงแม่น้ำเจ้...
สำนักงานเขตคลองสาน    ขุดลอกคลองข้างโรงน้ำแข็ง จากสุดระยะคลองถึงแม่น...
สำนักงานเขตคลองสาน    ขุดลอกคลองข้างวัดอนงค์ จากคลองหลัง\nวัดพิชัยญา...

In [ ]:
df3 = pd.DataFrame(data1)

In [ ]:
result3 = df3.groupby('Department')['Approved_buget'].aggregate(['min','max'])

In [ ]:
result3[0:3][1:3]

                         min      max
Department
สำนักงานเขตคลองสาน     80000  2218000
สำนักงานเขตคลองสามวา  452300  9832000

ข้อที่ 4 Core Budget ไหน ("12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี่ยวกับน้ำท่วม','17-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายเพื่อการพัฒนากรุงเทพมหานคร','28-เงินสำรองค่าใช้จ่าย ในการพัฒนาเขต') มีค่าเฉลี่ยงบประมาณที่ถูกอนุมัติสูงที่สุด

In [35]:
nonna_data1 = data1.dropna()
hascore_data1 = nonna_data1[nonna_data1['Core_budget_code'] != '-']
hascore_data1_12 =hascore_data1[hascore_data1['Core_budget_code'] == '12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี่ยวกับน้ำท่วม']
hascore_data1_28 =hascore_data1[hascore_data1['Core_budget_code'] == '28-เงินสำรองค่าใช้จ่าย ในการพัฒนาเขต']
hascore_data1_17 =hascore_data1[hascore_data1['Core_budget_code'] == '17-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายเพื่อการพัฒนากรุงเทพมหานคร']
corename = []
x=set(hascore_data1['Core_budget_code'])
for n in x:
  corename.append(n)
hascore_data1_12_MEAN =hascore_data1_12['Approved_buget'].mean()
hascore_data1_17_MEAN =hascore_data1_17['Approved_buget'].mean()
hascore_data1_28_MEAN =hascore_data1_28['Approved_buget'].mean()
if (hascore_data1_12_MEAN > hascore_data1_17_MEAN ) & (hascore_data1_12_MEAN > hascore_data1_28_MEAN ):
  print(f'รายการนี้ {corename[2]} มีค่าเฉลี่ยงบประมาณที่ถูกอนุมัติสูงที่สุด {hascore_data1_12_MEAN}')
elif (hascore_data1_17_MEAN > hascore_data1_12_MEAN ) & (hascore_data1_17_MEAN > hascore_data1_28_MEAN ):
  print(f'รายการนี้ {corename[0]} มีค่าเฉลี่ยงบประมาณที่ถูกอนุมัติสูงที่สุด {hascore_data1_17_MEAN}')
elif (hascore_data1_28_MEAN > hascore_data1_12_MEAN ) & (hascore_data1_28_MEAN > hascore_data1_17_MEAN ):
  print(f'รายการนี้ {corename[1]} มีค่าเฉลี่ยงบประมาณที่ถูกอนุมัติสูงที่สุด {hascore_data1_28_MEAN}')

รายการนี้ 28-เงินสำรองค่าใช้จ่าย ในการพัฒนาเขต มีค่าเฉลี่ยงบประมาณที่ถูกอนุมัติสูงที่สุด 1837500.0

พัก

In [ ]:
# 1. ราคาเฉลี่ยของบ้านที่มีราคาระหว่าง 3-5 ร้านบาท
data1[(data1['price_min'] >=3000000) & (data1['price_min']<=5000000)].describe()
# Ans 3.928111e+06	 = 3.928111  ล้านบาท

KeyError: ignored

In [ ]:
price_mean = data1[(data1['price_min'] >=3000000) & (data1['price_min']<=5000000)]['price_min'].mean()

KeyError: ignored

In [ ]:
print(f'ราคาเฉลี่ยของบ้านที่มีราคาระหว่าง 3-5 ล้านบาท คือ {int(price_mean):,}')

NameError: ignored

## load data to memory

In [ ]:
data_covid = pd.read_csv(covid_file_path)
data_covid

NameError: ignored

In [ ]:
data_covid.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

NaN = Not a Number

In [ ]:
data_covid.head(20)

    No.  ...                                               risk
0     1  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
1     2  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
2     3  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
3     4  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
4     5  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
5     6  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
6     7  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
7     8  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
8     9  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
9    10  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
10   11  ...        สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11   12  ...        สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12   13  ...        สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
13   14  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
14   15  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
15   16  ...  อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...
16   17  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
17   18  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
18   19  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
19   20  ...                      คนไทยเดินทางกลับจากต่างประเทศ

[20 rows x 10 columns]

In [ ]:
data_covid.tail()

NameError: ignored

In [ ]:
data_covid.shape

(12653, 10)

## ชี้ค่าในตาราง

#### basic

In [ ]:
data_covid['province_of_onset']

0        กรุงเทพมหานคร
1        กรุงเทพมหานคร
2               นครปฐม
3        กรุงเทพมหานคร
4        กรุงเทพมหานคร
             ...
12648           ชลบุรี
12649            ระยอง
12650            ระยอง
12651            ระยอง
12652              ตาก
Name: province_of_onset, Length: 12653, dtype: object

In [ ]:
data_covid['risk'][12649]

'สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้'

#### .iloc

In [ ]:
data_covid.iloc[4,7]

'กรุงเทพมหานคร'

# เรียนถึงนี่ 12 Jan 2022

## Table slicing

#### ตัดมาเฉพาะ column ที่ต้องการ

In [ ]:
smaller_table = data_covid[['province_of_onset','announce_date','risk']]
smaller_table

      province_of_onset  ...                                         risk
0         กรุงเทพมหานคร  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1         กรุงเทพมหานคร  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2                นครปฐม  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3         กรุงเทพมหานคร  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4         กรุงเทพมหานคร  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...                 ...  ...                                          ...
12648            ชลบุรี  ...                             State Quarantine
12649             ระยอง  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12650             ระยอง  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12651             ระยอง  ...                                Cluster ระยอง
12652               ตาก  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12653 rows x 3 columns]

#### ตัดเฉพาะ rows ที่ต้องการ

##### แบบง่าย แต่ใช้การอะไรไม่ค่อยจะได้ (มองเป็น array แล้วตัดแบบ array)

In [ ]:
data_covid.iloc[1:5,:]

   No. announce_date  ... district_of_onset                              risk
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

แบบ advanced แต่ใช้ประโยชน์ได้เยอะกว่า (ตัดแบบใช้ logic query)

```pddf```[list_of_logical_values] คือการเลือก row ที่ logical values เป็น True

In [ ]:
data_covid['province_of_onset']

0        กรุงเทพมหานคร
1        กรุงเทพมหานคร
2               นครปฐม
3        กรุงเทพมหานคร
4        กรุงเทพมหานคร
             ...
12648           ชลบุรี
12649            ระยอง
12650            ระยอง
12651            ระยอง
12652              ตาก
Name: province_of_onset, Length: 12653, dtype: object

In [ ]:
data_covid['province_of_onset']=='ขอนแก่น'

0        False
1        False
2        False
3        False
4        False
         ...
12648    False
12649    False
12650    False
12651    False
12652    False
Name: province_of_onset, Length: 12653, dtype: bool

In [ ]:
data_covid[data_covid['province_of_onset']=='ขอนแก่น']

         No.  ...                                           risk
180      181  ...                                        สนามมวย
462      463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466    1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970    1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637    2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ
2673    2674  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
5948    5949  ...                              Cluster สมุทรสาคร
6082    6083  ...                              Cluster สมุทรสาคร
9333    9334  ...                           อยู่ระหว่างการสอบสวน
9334    9335  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                           อยู่ระหว่างการสอบสวน
11697  11698  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[14 rows x 10 columns]

In [ ]:
data_covid[data_covid['age']>=70]

         No.  ...                                               risk
1          2  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
7          8  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
24        25  ...  อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...
82        83  ...                                            สนามมวย
...      ...  ...                                                ...
11694  11695  ...      ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
11700  11701  ...        สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11730  11731  ...                                  Cluster สมุทรสาคร
11741  11742  ...                               อยู่ระหว่างการสอบสวน
12102  12103  ...                                  Cluster สมุทรสาคร

[245 rows x 10 columns]

การชี้ค่าในตารางด้วย data_covid[***x***] ค่า ***x*** สามารถมีค่าที่ใส่เข้าไปได้ 2 แบบ


1.   ชื่อ column
2.   ใส่ rows ที่ต้องการ (ใส่ list ที่มี***ขนาดเท่ากับจำนวนแถว*** แล้วบอกว่าเอา แถวไหนบ้างโดยใช้ logical expression (```True```/```False```))

In [ ]:
eight_rows_covid = data_covid.iloc[:8,3:] # ตารางตัวอย่าง
eight_rows_covid

    sex   age  ... district_of_onset                              risk
0  หญิง  61.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1  หญิง  74.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2  หญิง  73.0  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3   ชาย  68.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4  หญิง  66.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5  หญิง  33.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6  หญิง  57.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
7  หญิง  73.0  ...            หัวหิน  คนต่างชาติเดินทางมาจากต่างประเทศ

[8 rows x 7 columns]

In [ ]:
eight_rows_covid[[True,False,True,True,False,True,False,False]]   #2.   ใส่ list ที่ มีค่า logic ของ แต่ละ row โดยที่ ค่า True คือ เลือก ค่า False คือไม่เลืิอก

    sex   age  ... district_of_onset                              risk
0  หญิง  61.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2  หญิง  73.0  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3   ชาย  68.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5  หญิง  33.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 7 columns]

In [ ]:
eight_rows_covid['province_of_onset'] == 'กรุงเทพมหานคร'  #สร้าง list ของ logical expression

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7    False
Name: province_of_onset, dtype: bool

In [ ]:
eight_rows_covid[eight_rows_covid['province_of_onset'] == 'กรุงเทพมหานคร']  #เราเอา 2 บรรทัดบนมาบวกกัน

    sex   age  ... district_of_onset                              risk
0  หญิง  61.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1  หญิง  74.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
3   ชาย  68.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4  หญิง  66.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5  หญิง  33.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6  หญิง  57.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[6 rows x 7 columns]

In [ ]:
eight_rows_covid['district_of_onset'] == 'เมือง'

0    False
1    False
2     True
3    False
4    False
5    False
6    False
7    False
Name: district_of_onset, dtype: bool

In [ ]:
import numpy as np

$.isnull()$ ใช้ตรวจสอบว่าเป็น NaN หรือไม่

In [ ]:
eight_rows_covid['district_of_onset'].isnull()

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7    False
Name: district_of_onset, dtype: bool

In [ ]:
sum(eight_rows_covid['district_of_onset'].isnull())

6

Quiz (ให้ใช้เฉพาะที่อาจารย์สอนไปแล้วในวิชานี้)

1.   คำนวณ อายุเฉลี่ย ของ**ผู้ชาย** ในข้อมูลทั้งหมด
2.   คำนวณ อายุเฉลี่ย ของ**ผู้ชาย** ในจังหวัดขอนแก่น
3.   หาจำนวนผู้ป่วยที่เป็นคน **ที่ไม่ใช่คนไทย**

In [ ]:
this_data = data_covid[['sex','age','province_of_onset']]

In [ ]:
this_data

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12648  หญิง  44.0            ชลบุรี
12649  หญิง  52.0             ระยอง
12650  หญิง  23.0             ระยอง
12651  หญิง  29.0             ระยอง
12652  หญิง  22.0               ตาก

[12653 rows x 3 columns]

In [ ]:
female = this_data[this_data['sex']=='หญิง']
female

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
4      หญิง  66.0     กรุงเทพมหานคร
5      หญิง  33.0     กรุงเทพมหานคร
...     ...   ...               ...
12648  หญิง  44.0            ชลบุรี
12649  หญิง  52.0             ระยอง
12650  หญิง  23.0             ระยอง
12651  หญิง  29.0             ระยอง
12652  หญิง  22.0               ตาก

[5332 rows x 3 columns]

In [ ]:
female['age']

0        61.0
1        74.0
2        73.0
4        66.0
5        33.0
         ...
12648    44.0
12649    52.0
12650    23.0
12651    29.0
12652    22.0
Name: age, Length: 5332, dtype: float64

In [ ]:
sum = 0
N = 0
for a in female['age']:

    if a > 0:
        sum += a # sum = sum + a
        N += 1

print(f'อายุเฉลี่ย ของ ผู้ป่วยหญิง {sum/N}')

อายุเฉลี่ย ของ ผู้ป่วยหญิง 36.63955450022614

In [ ]:
female_KK = female[female['province_of_onset']=='ขอนแก่น']

sum = 0
N = 0
for a in female_KK['age']:

    if a > 0:
        sum += a # sum = sum + a
        N += 1

print(f'อายุเฉลี่ย ของ ผู้ป่วยหญิง ในจังหวัดขอนแก่น {sum/N}')

อายุเฉลี่ย ของ ผู้ป่วยหญิง ในจังหวัดขอนแก่น 41.57142857142857

In [ ]:
female[(female['province_of_onset']=='ขอนแก่น') | (female['province_of_onset']=='หนองคาย')]

        sex   age province_of_onset
462    หญิง  36.0           ขอนแก่น
1051   หญิง  30.0           หนองคาย
1970   หญิง  70.0           ขอนแก่น
2637   หญิง  63.0           ขอนแก่น
5948   หญิง  32.0           ขอนแก่น
6082   หญิง  36.0           ขอนแก่น
10834  หญิง  40.0           หนองคาย
11697  หญิง  17.0           ขอนแก่น
11698  หญิง  37.0           ขอนแก่น

#### หาจำนวนคนป่วยที่ไม่ใช่คนไทย

In [ ]:
import numpy as np

In [ ]:
np.sum(data_covid['nationality'].dropna() != 'Thailand')

4129

การจัดการ Missing Value

- ลบ record ที่เป็น missing
- แทนที่ ค่า missing ด้วยค่าที่เหมาะสม mean, default, category-unknown
- ใช้ ค่าจาก columns อื่นๆ ช่วยประมาณค่า ค่าใน column ที่หายไป (regression, deep learning, etc.)

### ลบ record (dropna)

missing = ```None``` ```NA```(not autorized) ```NaN``` (not a number)

In [ ]:
this_data

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12648  หญิง  44.0            ชลบุรี
12649  หญิง  52.0             ระยอง
12650  หญิง  23.0             ระยอง
12651  หญิง  29.0             ระยอง
12652  หญิง  22.0               ตาก

[12653 rows x 3 columns]

In [ ]:
this_data.shape #(12423, 3)

(12653, 3)

In [ ]:
this_data.dropna()

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12648  หญิง  44.0            ชลบุรี
12649  หญิง  52.0             ระยอง
12650  หญิง  23.0             ระยอง
12651  หญิง  29.0             ระยอง
12652  หญิง  22.0               ตาก

[8478 rows x 3 columns]

In [ ]:
print(data_covid.shape)
print(data_covid.dropna().shape)

(12653, 10)
(6655, 10)

In [ ]:
this_data.dropna(subset=['age','sex'])

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12648  หญิง  44.0            ชลบุรี
12649  หญิง  52.0             ระยอง
12650  หญิง  23.0             ระยอง
12651  หญิง  29.0             ระยอง
12652  หญิง  22.0               ตาก

[8880 rows x 3 columns]

In [ ]:
print(this_data.dropna().shape)
print(this_data.dropna(subset=['sex','age']).shape)

(8478, 3)
(8880, 3)

# ตรวจสอบ Missing (```isnull()```)

In [ ]:
this_data.isnull()

         sex    age  province_of_onset
0      False  False              False
1      False  False              False
2      False  False              False
3      False  False              False
4      False  False              False
...      ...    ...                ...
12648  False  False              False
12649  False  False              False
12650  False  False              False
12651  False  False              False
12652  False  False              False

[12653 rows x 3 columns]

In [ ]:
this_data.isnull().any() # .any() เอาค่าความจริงใน column มา OR กัน

sex                  True
age                  True
province_of_onset    True
dtype: bool

In [ ]:
this_data.isnull().all() # .all() เอาค่าความจริงใน column มา AND กัน

sex                  False
age                  False
province_of_onset    False
dtype: bool

In [ ]:
this_data.isnull().any().any()

True

In [ ]:
this_data.dropna(subset=['sex','age']).isnull().any()

sex                  False
age                  False
province_of_onset     True
dtype: bool

In [ ]:
this_data.dropna(subset=['sex','age'])

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12648  หญิง  44.0            ชลบุรี
12649  หญิง  52.0             ระยอง
12650  หญิง  23.0             ระยอง
12651  หญิง  29.0             ระยอง
12652  หญิง  22.0               ตาก

[8880 rows x 3 columns]

### 1. เพื่อให้ได้ผลลัพธ์การจัดการ ```dropna()``` ต้องเอาตัวแปรมารับ

In [ ]:
this_data_nonull = this_data.dropna(subset=['sex','age'])

In [ ]:
this_data_nonull.isnull().any()

sex                  False
age                  False
province_of_onset     True
dtype: bool

### 2. update ตารางด้วยตัวแปร ```inplace```

In [ ]:
this_data.dropna(subset=['sex','age'],inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
this_data.isnull().any()

sex                  False
age                  False
province_of_onset     True
dtype: bool

In [ ]:
aa = this_data.dropna(subset=['sex','age'],inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
aa

### แทน missing ด้วยค่าที่เหมาะสม (```fillna()```)

In [ ]:
this_data = data_covid[['sex','age','province_of_onset']]

In [ ]:
this_data

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12648  หญิง  44.0            ชลบุรี
12649  หญิง  52.0             ระยอง
12650  หญิง  23.0             ระยอง
12651  หญิง  29.0             ระยอง
12652  หญิง  22.0               ตาก

[12653 rows x 3 columns]

In [ ]:
print(f'จำนวน record ก่อน drop missing ใน province {this_data.shape[0]}')
print(f'จำนวน record หลัง drop missing ใน province {this_data.dropna(subset=["province_of_onset"]).shape[0]}')

จำนวน record ก่อน drop missing ใน province 12653
จำนวน record หลัง drop missing ใน province 10662

### 1. แทนด้วย class ใหม่

In [ ]:
this_data_updated = this_data.fillna(value={'sex':'ไม่รู้', 'age':-99, 'province_of_onset':'ไม่รู้'})
this_data_updated.head()

    sex   age province_of_onset
0  หญิง  61.0     กรุงเทพมหานคร
1  หญิง  74.0     กรุงเทพมหานคร
2  หญิง  73.0            นครปฐม
3   ชาย  68.0     กรุงเทพมหานคร
4  หญิง  66.0     กรุงเทพมหานคร

In [ ]:
this_data_updated.tail(15)

          sex   age province_of_onset
12638  ไม่รู้ -99.0         สมุทรสาคร
12639  ไม่รู้ -99.0         สมุทรสาคร
12640     ชาย  66.0   พระนครศรีอยุธยา
12641     ชาย  29.0          ปทุมธานี
12642    หญิง  50.0           ราชบุรี
12643     ชาย  39.0              สตูล
12644    หญิง  49.0       สมุทรปราการ
12645    หญิง  44.0            ชลบุรี
12646     ชาย  18.0       สมุทรปราการ
12647     ชาย  42.0     กรุงเทพมหานคร
12648    หญิง  44.0            ชลบุรี
12649    หญิง  52.0             ระยอง
12650    หญิง  23.0             ระยอง
12651    หญิง  29.0             ระยอง
12652    หญิง  22.0               ตาก

In [ ]:
this_data_updated.isnull().any()

sex                  False
age                  False
province_of_onset    False
dtype: bool

### 2. แทนด้วยค่าที่เหมาะสม


*   ตามใจคนทำ
*   ค่ากลาง

#### ตามใจคนทำ

In [ ]:
data_covid.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [ ]:
data_covid_fillasiwant = data_covid.fillna(value={'sex':'หญิง'})  #เรามีข้อมูลว่า เพศหญิงมีเยอะกว่าเพศชาย

In [ ]:
data_covid_fillasiwant.isnull().any()

No.                      False
announce_date            False
notification_date         True
sex                      False
age                       True
nationality               True
province_of_isolation     True
province_of_onset         True
district_of_onset         True
risk                      True
dtype: bool

#### แทนด้วยค่ากลาง

In [ ]:
data_covid['age']

0        61.0
1        74.0
2        73.0
3        68.0
4        66.0
         ...
12648    44.0
12649    52.0
12650    23.0
12651    29.0
12652    22.0
Name: age, Length: 12653, dtype: float64

In [ ]:
data_covid['age'].mean()

38.054748339151

In [ ]:
data_covid_fillwithmean = data_covid.fillna(value={'age':data_covid['age'].mean()})

In [ ]:
data_covid_fillwithmean.isnull().any()

No.                      False
announce_date            False
notification_date         True
sex                       True
age                      False
nationality               True
province_of_isolation     True
province_of_onset         True
district_of_onset         True
risk                      True
dtype: bool

### การวนลูป record ในตาราง  (```.iterrows```)

In [ ]:
this_data = data_covid[['sex','age','province_of_onset']]
this_data

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12648  หญิง  44.0            ชลบุรี
12649  หญิง  52.0             ระยอง
12650  หญิง  23.0             ระยอง
12651  หญิง  29.0             ระยอง
12652  หญิง  22.0               ตาก

[12653 rows x 3 columns]

In [ ]:
for each_row in this_data.iterrows():
    # print(each_row)
    # print(each_row[1])
    # print(each_row[1]['sex'])
    if (each_row[1]['age'] <= 20) and (each_row[1]['province_of_onset'] == 'ขอนแก่น'):
        print(each_row)

(1466, sex                      ชาย
age                       19
province_of_onset    ขอนแก่น
Name: 1466, dtype: object)
(9333, sex                      ชาย
age                       17
province_of_onset    ขอนแก่น
Name: 9333, dtype: object)
(9334, sex                      ชาย
age                       20
province_of_onset    ขอนแก่น
Name: 9334, dtype: object)
(10610, sex                      ชาย
age                       17
province_of_onset    ขอนแก่น
Name: 10610, dtype: object)
(11517, sex                      ชาย
age                       12
province_of_onset    ขอนแก่น
Name: 11517, dtype: object)
(11697, sex                     หญิง
age                       17
province_of_onset    ขอนแก่น
Name: 11697, dtype: object)

### การวนลูป แบบมองตารางแพนด้าส์(pandas dataframe) เป็น numpy array  (```.iloc```)

In [ ]:
for each_row in range(this_data.shape[0]):
    if (this_data.iloc[each_row,1] <= 20) and (this_data.iloc[each_row,2] == 'ขอนแก่น'):  #each_row คือ ตัวเลข
        print(each_row)
        print(this_data.iloc[each_row,:])

1466
sex                      ชาย
age                       19
province_of_onset    ขอนแก่น
Name: 1466, dtype: object
9333
sex                      ชาย
age                       17
province_of_onset    ขอนแก่น
Name: 9333, dtype: object
9334
sex                      ชาย
age                       20
province_of_onset    ขอนแก่น
Name: 9334, dtype: object
10610
sex                      ชาย
age                       17
province_of_onset    ขอนแก่น
Name: 10610, dtype: object
11517
sex                      ชาย
age                       12
province_of_onset    ขอนแก่น
Name: 11517, dtype: object
11697
sex                     หญิง
age                       17
province_of_onset    ขอนแก่น
Name: 11697, dtype: object

## Quiz ตัดตารางออกมาเฉพาะปี 2021 ```announce_date``` ในปี 2021

**Hint**
*   วนลูปหา index ของปี 2021
*   ตัดตารางมาเฉพาะ ปี 2021

In [ ]:
TF=list()
for each_row in data_covid.iterrows():
    if each_row[1]['announce_date'].split('/')[2] == '2021':
        TF.append(True)
    else:
        TF.append(False)

data_covid[TF].head()

       No.  ...                                               risk
6884  6885  ...                                  Cluster สมุทรสาคร
6885  6886  ...                                      Cluster ระยอง
6886  6887  ...                                        สถานบันเทิง
6887  6888  ...                                  Cluster สมุทรสาคร
6888  6889  ...  อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...

[5 rows x 10 columns]

In [ ]:
TF

[False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 ...]

### HW กลุ่ม 2 || เลือกข้อมูลมาเฉพาะวัน announce_date เป็นวันที่ 1-20

# Function ตัวช่วยใน pandas

### ```.describe()``` คำนวณค่าทางสถิติของข้อมูลที่เป็นตัวเลข

In [ ]:
data_covid.describe()

                No.          age
count  12653.000000  8881.000000
mean    6327.000000    38.054748
std     3652.750813    15.125178
min        1.000000     0.100000
25%     3164.000000    27.000000
50%     6327.000000    36.000000
75%     9490.000000    48.000000
max    12653.000000    97.000000

### ```.mean()``` คำนวณค่าเฉลี่ยของข้อมูลโดยไม่สนใจ missing

In [ ]:
data_covid[data_covid['sex']=='ชาย']['age'].mean()

39.46076940331987

### ```.isnull()```

In [ ]:
data_covid.isnull()

         No.  announce_date  ...  district_of_onset   risk
0      False          False  ...               True  False
1      False          False  ...               True  False
2      False          False  ...              False  False
3      False          False  ...               True  False
4      False          False  ...               True  False
...      ...            ...  ...                ...    ...
12648  False          False  ...              False  False
12649  False          False  ...              False  False
12650  False          False  ...              False  False
12651  False          False  ...              False  False
12652  False          False  ...              False  False

[12653 rows x 10 columns]

# next

*   ต่อตารางแกน X แกน y
*   .groupby
*   save table